

.popPhoto{
    .popPhotoImage{
        height: 35em;
        object-fit: contain;
        transform: rotate(0deg);
    }
}


.photo{
    // width: 100vw;
    background-color: #CEE0DC;
    display: flex;
    flex-direction: column;
    min-height: 93vh;
    // justify-content: center;
    align-items: center;
    .photoImages{
        margin: 3vw;
        margin-bottom: 0vw;
        padding: 1vw;
        border-radius: 2em;
        width: 90vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #022B3A;
        .photoInstance{
            padding: 0.3em;
            margin-top: 1.2em;
            margin-bottom: 1.2em;
            background-image: radial-gradient(rgba(2, 43, 58, 1) 0%, rgba(206, 224, 220, 1) 100%);
            .photoInstanceImage{
                background-color: #022B3A;
                // background-image: radial-gradient(rgba(206, 224, 220, 1) 0%, rgba(2, 43, 58, 1) 100%);
                // width: 36em;
                // height: 24em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .photoInstanceImageImage{
                    cursor: pointer;
                    width: 33em;
                    height: 22em;
                    object-fit: contain;
                }
            }
        }
    }
    .photoPageIndices{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 5em;
        .photoPageIndex{
            display: flex;
            flex-direction: row;
            .photoIndexInstance{
                width: 3em;
                height: 3em;
                background-color: #FF9505;
                background-image: radial-gradient( rgba(255, 149, 5, 1) 30%, rgba(206, 224, 220, 1) 70%);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .photoPageIndicesSpace{
                width: 0.3em;
            }
        }
    }
}
